@{
    ViewBag.Title = "Керування";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@TempData["StatusMessage"]</p>
<div>
    <h4>Змінити налаштування профілю</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">Пароль</div>
        <div class="col-md-9">@Html.ActionLink("Змінити пароль", "ChangePassword", null, new { @class = "btn btn-info" })</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">Персональна інформація</div>
        <div class="col-md-9">@Html.ActionLink("Змінити персональну інформацію", "Update", null, new { @class = "btn btn-info" })</div>
    </div>
</div>
