.selected-users{
    max-width:280px;
}
.user {
    display: inline-block;
    padding: 5px;
    background: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 8px;
    margin-bottom: 8px;
}

.user i{
    margin-left:8px;
}
