.publication-block {
    margin-top: 25px;
}

.publication-header {
    font-weight: 600;
}

.section-body {
    overflow-y: auto;
}

.wizard > .content {
    background: #fbfdfe;
}

.wizard > .content > .body {
    width: 100%;
}

.selected-items{
    max-width: 100%;
}

.input-group-addon + input, .search-container {
    max-width: 100%;
}

span.theme-name{
    font-style: italic;
}

.selected-item{
    width: 100%;
}