@{
    ViewBag.Title = "У розробці";
}
<div class="row">
    <h2 class="text-center">
        Дана сторінка перебуває у розробці
    </h2>
</div>
<div class="row">
    <div class="text-center">
        <img class="home-image" src="https://media.istockphoto.com/vectors/contract-or-document-signing-icon-document-folder-with-stamp-and-text-vector-id1179640294?k=20&m=1179640294&s=612x612&w=0&h=O2IBtlV52-6gWSAeyozPIFkfZ-LzHnpXBw2tOuUToj8="/>
    </div>
</div>