@model SRS.Web.Models.Shared.CheckboxListItem

<div data-field-id="@Model.Id">
    <label class="checkbox-label">@Html.CheckBoxFor(x => x.Checked)@Html.DisplayFor(x => x.Name)</label>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Name)
</div>

