html {
    height: 100%;
}

body {
    padding-top: 50px;
    position: relative;
    padding-bottom: 100px;
    min-height: 100%;
}

.footer-container {
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.footer-container hr{
    margin-bottom: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

dd{
    margin-bottom: 12px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    padding: 0 16px 0 16px;
}

@media(min-width:768px) {
    .header .navbar-brand {
        font-size: 14px;
    }
}

@media(min-width:992px) {
    .header .navbar-brand {
        font-size: 18px;
    }
}

ul li {
    list-style: unset !important;
}

a {
    text-decoration: none !important;
}

.text-white {
    color: #FFFFFF;
}

.navbar.navbar-srs {
    background: #002561;
}

.navbar-srs a, .navbar-srs .dropdown-menu > li > a {
    color: #FFFFFF;
}

.navbar-srs .dropdown-menu {
    background: #002561;
}

.navbar-srs .nav .open > a, .navbar-srs .nav > li > a:hover, .navbar-srs .nav > li > a:focus {
    background: #002561;
    color: lightskyblue;
}

.navbar-srs .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar-srs .dropdown.open .caret, .navbar-srs .nav a:hover .caret {
    border-top-color: lightskyblue;
    border-bottom-color: lightskyblue;
}

.navbar-srs .icon-bar {
    background: white;
}

h1, h2, h3, h4 {
    color: #002561;
}

.username {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.white-space-nowrap {
    white-space: nowrap;
}

td .btn {
    margin-bottom: 4px;
}

td form {
    display: inline-block;
    margin-right: 4px;
}

.text-center {
    text-align: center;
}

.home-image {
    max-width: 100%;
    border: 1px solid white;
    border-radius: 8px;
}

.data-table {
    width: 100% !important;
}

.dt-buttons {
    float: left;
}

.display-label {
    padding-top: 7px;
}

.collapse-target {
    visibility: hidden;
    height: 0px;
}

.collapsible {
    margin-bottom: 8px;
}

.input-group-addon + input {
    max-width: 240px;
}

.cursor-pointer {
    cursor: pointer;
}

.selected-items {
    max-width: 280px;
}

.selected-item {
    position: relative;
    display: inline-block;
    padding: 5px 24px 5px 5px;
    background: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 8px;
    margin-bottom: 8px;
}

.selected-item i {
    font-size: 16px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.date-range{
    display: flex;
    justify-content: space-between;
    max-width: 280px;
}

input[type=number].simplified::-webkit-outer-spin-button,
input[type=number].simplified::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].simplified {
    -moz-appearance: textfield;
}

.checkbox-label{
    cursor: pointer;
    font-weight: normal;
}

.checkbox-label input{
    cursor: pointer;
    margin-right: 8px;
}

.info-box {
    display: inline-block;
    padding: 5px;
    font-style: italic;
    color: darkgray;
}

.info-box i {
    color: lightskyblue;
    margin-right: 8px;
}