@{
    ViewBag.Title = "Пароль змінено";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль змінено. Будь ласка, @Html.ActionLink("натисніть тут для входу", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
