@using SRS.Web.Models.Shared
@model BaseFilterViewModel
@if (!Model.HideSearch)
{
    <div class="form-group">
        <div>
            <input name="Search" class="form-control" value="@Model.Search" placeholder="@ViewBag.SearchPlaceholder" />
        </div>
    </div>
}
<input type="hidden" name="OrderBy" value="@Model.OrderBy" />
<input type="hidden" name="Desc" value="@Model.Desc.ToString()" />