@using SRS.Services.Models.Constants
@model string
@if (User.IsInRole(RoleNames.Superadmin) || User.IsInRole(RoleNames.RectorateAdmin) || User.IsInRole(RoleNames.DeaneryAdmin) || User.IsInRole(RoleNames.CathedraAdmin))
{
    <div class="form-group">
        <div>
            <select id="user-selector" class="form-control chosen-select" name="UserId" data-selected="@Model">
                <option value="">Виберіть користувача</option>
            </select>
        </div>
    </div>
}