@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Помилка</h1>
<h2 class="text-danger">Виникла помилка при обробці запиту. Будь ласка, зверніться до адміністратора сайту.</h2>

