@model UserManagement.Models.Reports.PublicationOption

<div>
    @Html.CheckBoxFor(x => x.Checked)
    @Html.HiddenFor(x => x.Id)
    @Html.DisplayFor(x => x.Name)
    @Html.HiddenFor(x => x.Name)
</div>

