@using SRS.Services.Models
@model IEnumerable<AcademicStatusModel>

@{
    ViewBag.Title = "Index";
}

<h2>Наукові ступені</h2>

<p>
    @Html.ActionLink("Cтворити", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
